@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');
@media(min-width:768px) {
    body {
        margin-top: 50px;
    }
    /*html, body, #wrapper, #page-wrapper {height: 100%; overflow: hidden;}*/
}

#wrapper {
    padding-left: 0;    
}

#page-wrapper {
    width: 100%;        
    padding: 0;
    background-color: #fff;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 225px;
    }

    #page-wrapper {
        padding: 22px 10px;
    }
}

/* Top Navigation */
.navbar{
    background-color: #9B0000;
}
.navbar-brand > img{
    width: 50px;
    border-radius: 50%;
}
.top-nav {
    padding: 0 15px;
}

.top-nav>li {
    display: inline-block;
    /* float: left; */
}

.top-nav>li>a {
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 20px;
    color: #e7e7e7;
}

.top-nav>li>a:hover,
.top-nav>li>a:focus,
.top-nav>.open>a,
.top-nav>.open>a:hover,
.top-nav>.open>a:focus {
    color: #9B0000;
    background-color: #e7e7e7;
}
.navbar .open > .dropdown-menu{
    color: #9B0000;
    background-color: #e7e7e7;
}
.dropdown .dropdown-menu{
    border-top: solid 3px #9B0000;
}
.dropdown .dropdown-menu .divider{
    background-color: #9B0000;
}
.dropdown .dropdown-menu > li > a:hover{
    background-color: #9B0000;
    color: #e7e7e7;
}
/* Side Navigation */

@media(min-width:768px) {
.side-nav {
        position: fixed;
        top: 60px;
        left: 225px;
        width: 225px;
        margin-left: -225px;
        border: none;
        border-radius: 0;
        border-top: 1px #e7e7e7 solid;
        overflow-y: auto;
        background-color: #9B0000;
        bottom: 0;
        overflow-x: hidden;
        padding-bottom: 40px;
}
.nav img{
        width: 50px;
        height: 50px;
    }
.navbar-inverse .navbar-nav > li > a{
        color: #e7e7e7;
    }
.navbar-inverse .navbar-nav > li > a:hover {
    color: #9B0000;
}
.side-nav>li>a {
        width: 225px;
        border-bottom: 1px #e7e7e7 solid;

}
.side-nav li a:hover,
.side-nav li a:focus {
    outline: none;
    background-color: #e7e7e7 !important;
    color: #9B0000;
}
}
.navbar-nav > li > a {
    color: #e7e7e7;
}

.nav > li:hover{
    background-color: #e7e7e7;
}
.navbar .nav > li > a > .label {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  top: 14px;
  right: 6px;
  font-size: 10px;
  font-weight: normal;
  min-width: 15px;
  min-height: 15px;
  line-height: 1.0em;
  text-align: center;
  padding: 2px;

}
.navbar .nav > li > a:hover > .label {
  top: 10px;
}
.navbar-inverse .navbar-nav > .actived > a{
    color: rgb(48, 75, 86);
    background-color: #e7e7e7;
}
.navbar-brand {
    padding: 5px 15px;
}
.well{
    min-height: 550px
}
/*start edit profile*/
.edit-profile h1{
    color: rgb(48, 75, 86);
    font-family: cursive;
    font-weight: bold;
}
.edit-profile h1{
    color: rgb(48, 75, 86);
    text-align: center;
}
.edit-profile .img-circle{
    width: 150px;
}
.edit-profile input{
    border-radius: 50px;
}
.edit-profile label{
    color: rgb(48, 75, 86);
}
.edit-profile .form-control{
    color: rgb(48, 75, 86);
}
.form-horizontal .control-label {
    text-align: left;
    padding-left: 100px;
}
input[type="button"],input[type="reset"]{
    border-radius: 7%;
}
/*end edit profile*/

/*start exercise*/
.exercise h1{
    color: rgb(48, 75, 86);
    font-family: cursive;
    font-weight: bold;
    text-align: center;
}
.exercise .table > thead:first-child > tr:first-child > th{
    text-align: center;
    background-color: rgb(48, 75, 86);
    color: #e7e7e7;
    font-size: 18px;    
}
.exercise .table-bordered > tbody > tr > td{
    border: 2px solid #304b56;
    color: rgb(48, 75, 86);
    font-size: 15px; 
}
/*end exercise*/

/*start courses*/
.courses.button-container {
    display: inline-block;
    background-color: #e9e9e9;
  }
  
 .courses .button.img-rectangle\ {
    width: 25%;
    height: 100px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    border-radius: 50%;
    background: black ;
  }
  
 .courses .button.button.img-rectangle\  {
    background: black;
    -webkit-filter: drop-shadow(black); /* webkit only 
                   assuming the content is written in black */
    filter: drop-shadow(black);            /* FF~35 */
    filter: drop-shadow( black);            /* MDN */
  }
 
.courses .img-rectangle{
    widows: 50px;
    padding-bottom: 20%;
    width: 90%;
    margin-top: 25%;  
    display: block;
    border-radius: 25%;
}
.courses .progress{
    margin-bottom: 50px;
    border: none solid #e7e7e7;
}
.courses span{
    padding: 10px;
    font-family:cursive
}
.courses .btn{
    margin-bottom: 100px;
    margin-left: 100px;
    border: none solid;
    width: 25%;
    border-radius: 100px;
    
}
/*end courses*/

/*start lecture*/
h1{
    color:  rgb(48, 75, 86);
}
.lectures a{
    color:#9B0000;
    font-size: 20px;
    font-family: cursive;
    font-weight: bold;
}
.lectures .table > thead > tr > th {
    vertical-align: bottom;
    border: 2px solid #9B0000;
    font-size: 20px;
    color:#e7e7e7;
    background-color:#9B0000;
    text-align: center;
}
.lectures .nav-tabs {
    border-bottom: 2px solid#9B0000;
}
.lectures .nav-tabs > li.active > a,
    .nav-tabs > li.active > a:hover,
    .nav-tabs > li.active > a:focus {
    color:#9B0000 ;
    cursor: default;
    background-color:#9B0000;
    border: 2px solid #9B0000;
    border-bottom-color: #9B0000;
}
.lectures .table > thead > tr > th,
.table > tbody > tr > th, .table > tfoot > tr > th,
.table > thead > tr > td, .table > tbody > tr > td,
.table > tfoot > tr > td{
    border: 1px solid #9B0000;
    color:  rgb(48, 75, 86);
    text-align: center;
}
.lectures .table > thead > tr > th{
    border: 1px solid #e7e7e7;
    color: #e7e7e7;
}

.lectures .table > tbody > tr {
    background-color: #fff;
}

.link-button-wrapper {
    width: 200px;
    height: 40px;
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    border-radius: 4px;
    border-bottom-color:  #337ab7;
    box-shadow: 0px 2px 4px  #337ab7;
    display: block;
    
    margin-top: 25%;
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4
}
.link-button-wrapper > a {
    display: inline-table;
    cursor: pointer;
    text-decoration: none;
    height: 100%;
    width:100%;
    margin-bottom: 50%;
   
    
}
.lectures.button
{height: 50%;}
.link-button-wrapper > a > h1 {
    margin: 0 auto;
    display: table-cell;
    vertical-align: middle;
   
    color: #f7f8f8;
    font-size: 18px;
    font-family: cabinregular;
    text-align: center;
}
/* end lecture */
/* lecture editor */
/* .col-md-12 {
    margin-top: 50px;
} */
.edit-lecture .details{
    margin-bottom: -70px;
}
/*text editor*/
.edit-lecture .wrapper{
    width: 100%;
}

.edit-lecture .rte .main .button{
    border-radius: 20px;
    font-size: 12px;
    font-weight: 200px;
    
}
.edit-lecture .rte .main .button:hover{
    background-color:#9B0000;
}
.edit-lecture .edit-lecture .rte .main .button{
    border-radius: 20px;
    font-size: 12px;
    font-weight: 200px;
    
}

.edit-lecture .upl{
    font-size: 12px;
    padding: 0px;
}
/*---*/
.edit-lecture .button{
    border-radius: 7px;
    padding: 5px 10px;
    
} 
/*end lecture editor*/


/*start result*/
.result h1{
    color: rgb(48, 75, 86);
    font-family: cursive;
    font-weight: bold;
    text-align: center;
}
.result .table > thead:first-child > tr:first-child > th{
    text-align: center;
    background-color: #9B0000;
    color: #e7e7e7;
    font-size: 18px;    
}
.navbar-brand>img{
    border-radius: 50%;
}
.result .table-bordered > tbody > tr > td{
    border: 1px solid #9B0000;
    color: rgb(48, 75, 86);
    background-color: #fff;
    font-size: 18px; 
}
#empty{
    width: 150px;
}
#exam{
    width: 500px;
}
.result .btnn{
    text-align: center;
}
  #save{
      background-color: green;
      border-color: green;
  }
/*end result*/
