
<table class="table" onLoad="noBack();" onpageshow="if (event.persisted) noBack();" onUnload="">
    <thead class="thead-dark" style="background-color:rgb(180, 25, 25)">
        <tr>
            <th scope="col">Exercise Type</th>
            <th scope="col">True Answers</th>
            <th scope="col">Wrong Answers</th>

        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">@Session["type"].ToString()</th>
            <td class="text-success" style="color:lawngreen">@TempData["score"].ToString()</td>
            <td class="text-danger" style="color:red">@TempData["wrong"].ToString()</td>

        </tr>

    </tbody>
</table>

@Html.ActionLink("Back", "GetAllExercises")

@section scris{

    <script type="text/javascript">
        window.history.forward();
        function noBack() {
            window.history.forward();
        }
    </script>

}